<div class="container-fluid" style="background-color: #ffffff;">

  <!-- ============= COMPONENT ============== -->
  <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/Atlassian-horizontal-blue-rgb.svg" id="idlogo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
       

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Products   </a>
          <div class="dropdown-menu megamenu" role="menu" style="border: none;box-shadow: 0 84px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
          ">
            <div class="row g-3">
              <hr>
              <div class="col-lg-8 col-md-4 col-sm-12 ">
              <div class="row mt-3">
                
                  <div class="col-lg-4 col-md-4 col-sm-12 ">
                    <div class="col-megamenu">
                      <h6 class="title ms-3"> FEATURED  </h6>
                      <ul class="list-unstyled">
                        <div class="row">
                          <div class="col">
                          </div>
                          <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;">
                            <img src="../../assets/img/mark-gradient-blue-jira-work-management.svg"  style="width: 55px">
                          </div>
                          <div class="col-6">
                              <br>
                              <h4 style="font-weight:800 ;">  Jira software   </h4>
                              <p>Project and issue tracking   </p>
                              
                          </div>
                          <div class="col">
                          </div>
                      </div>
                      <br>

                      <div class="row">
                        <div class="col">
                        </div>
                        <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;">
                          <img src="../../assets/img/mark-gradient-blue-jira-work-management.svg"  style="width: 55px">
                        </div>
                        <div class="col-6">
                            <br>
                            <h4 style="font-weight:800 ;">  Jira service management   </h4>
                            <p>High-velocity ITSM </p>
                            
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <br>
                    
                      </ul>
                    </div>  <!-- col-megamenu.// -->
                  </div><!-- end col-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                      <div class="col-megamenu">
                        <br>
                        <ul class="list-unstyled">
                          <div class="row">

                            <div class="col">
                            </div>
                            <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;border-radius: 7px;">
                              <img src="../../assets/img/logos-confluence-icon-gradient-blue.svg" style="width: 55px">
                            </div>
                            <div class="col-6">
                                <br>
                                <h4 style="font-weight:800 ;"> Confluence </h4>
                                <p>Content collaboration</p>
                                
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <br>

                        <div class="row">
                          <div class="col">
                          </div>
                          <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;">
                            <img src="../../assets/img/trello-icon-gradient-blue.svg"  style="width: 55px">
                          </div>
                          <div class="col-6">
                              <br>
                              <h4 style="font-weight:800 ;">  Trello  </h4>
                              <p>Visual project management </p>
                              
                          </div>
                          <div class="col">
                          </div>
                      </div>
                      <br>
                    
                        </ul>
                      </div>  <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->


            </div>
          </div>


              

            <div class="col-lg-4 col-md-4 col-sm-12 ">
              <div class="row">

              <!-- <div class="col-lg-3 col-6"> -->
                <div class="col-megamenu">
                  <h6 class="title">              BROWSE BY SOLUTION
                  </h6>
                  <br>

                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">                  Agile & DevOps

                      </a>
                      <h6 id="navdesc">  Run a world-class agile software organization from discovery to delivery and operations</h6>
                      
                    </li>
                    <li>
                      <a href="#" id="navdropdown1">   IT Service Management
                      </a>
                      <h6 id="navdesc">     Enable dev, IT ops, and business teams to deliver great service at high velocity
                      </h6>
                    </li> 
                    <li>
                      <a href="#" id="navdropdown1">   Work Management
                      </a>
                      <h6 id="navdesc"> Compliance, privacy, platform roadmap, and more Empower autonomous teams without losing organizational alignment
                      </h6>
                    </li>  
                    <br>
                 
                    <li>
                      <a id="navdropdown1">                BROWSE BY TEAM TYPE

                      </a>
                    </li>  
                    <br>
                    <li>
                      <a href="#" id="navdropdown1">    Enterprise

                      </a>
                    </li>   
                    <li>
                      <a href="#" id="navdropdown1">    Small business

                      </a>
                    </li>   
                    <li>
                      <a href="#" id="navdropdown1">    Startup

                      </a>
                    </li>   
                    <li>
                      <a href="#" id="navdropdown1">       Non-profit  

                      </a>
                    </li>       
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row --> 
          </div> <!-- dropdown-mega-menu.// -->
          </div>
          </li>
       




        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> For teams  </a>
          <div class="dropdown-menu megamenu" role="menu" style="border: none;box-shadow: 0 84px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
          ">
            <div class="row g-3">
              <hr>
              <div class="col-lg-3 col-6 ">
                <div class="col-megamenu ms-2">
                  <h6 class="title">  BY TEAM SIZE  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">Startups </a>
                    <h6 id="navdesc">Great for startups, from incubator to IPO</h6>
                  </li>
                    <li>
                      <a href="#" id="navdropdown1">Small business </a>
                      <h6 id="navdesc">Get the right tools for your growing business</h6>
                    </li>
                      <li>
                        <a href="#" id="navdropdown1">Enterprise
                     </a>
                        <h6 id="navdesc">Learn how we make big teams successful  </h6>
                      </li>
                      <br><br><br><br><br><br>
                      <li>
                        <a href="#" id="navdropdown1">View all products
                     </a>
                      </li>      
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->

              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">BY TEAM FUNCTION
                  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">  Software
                      </a>
                      <h6 id="navdesc">  Plan, build, & ship quality products
                      </h6>
                   
                    </li>                    
                    <li>
                      <a href="#" id="navdropdown1">Marketing </a>
                      <h6 id="navdesc">  Bring together a winning strategy
                      </h6>
                     
                    

                     
                    </li>  
                    <li>
                      <a href="#" id="navdropdown1">  HR </a>
                      <h6 id="navdesc">  Streamline people management
                      </h6>
                    </li>  
                      <li>
                      <a href="#" id="navdropdown1">  Legal </a>
                      <h6 id="navdesc">Operate securely and reliably
                      </h6>
                    </li> 
                    <li>
                      <a href="#" id="navdropdown1">  Government </a>
                      <h6 id="navdesc">Efficient, secure, mission focused
                      </h6>
                    </li>                      
                                    </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->

              










              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">
                    </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">  Operations
                         </a>
                      <h6 id="navdesc"> Run your business efficiently

                      </h6>
                    </li>     
                    <li>
                      <a href="#" id="navdropdown1">   IT
                         </a>
                      <h6 id="navdesc"> Provide great service and support



                      </h6>
                    </li>   
                    <li>
                      <a href="#" id="navdropdown1">   Finance 

                         </a>
                      <h6 id="navdesc"> Simplify all finance processes



                      </h6>
                    </li>  
                    <li>
                      <a href="#" id="navdropdown1">   Incident Response 


                         </a>
                      <h6 id="navdesc">  Respond, resolve, & learn from incidents





                      </h6>
                    </li>            
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div>   
              
          
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Marketplace  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">              Apps that enhance Atlassian products
                      </a>
                    </li>
                    <li>
                      <a href="#" id="navdropdown1">  Developers
                      </a>
                      <h6 id="navdesc">    Docs and resources to build Atlassian apps  
                      </h6>
                    </li> 
                    <li>
                      <a href="#" id="navdropdown1">    Trust & security
                      </a>
                      <h6 id="navdesc"> Compliance, privacy, platform roadmap, and more
                      </h6>
                    </li>                   
                    <li>
                      <a href="#" id="navdropdown1">   Work Life blog
                      </a>
                      <h6 id="navdesc"> Stories on culture, tech, teams, and tips
                      </h6>
                    </li>       
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row --> 
          </div> <!-- dropdown-mega-menu.// -->
          </li>
       


        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Support  </a>
          <div class="dropdown-menu megamenu" role="menu" style="border: none;box-shadow: 0 84px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
          ">
            <div class="row g-3">
              <hr>
              <div class="col-lg-3 col-6 ">
                <div class="col-megamenu ms-2">
                  <h6 class="title">RESOURCES  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">Documentation </a>
                    <h6 id="navdesc">Guides to all of our products</h6>
                  </li>
                    <li>
                      <a href="#" id="navdropdown1">Atlassian Migration Program </a>
                      <h6 id="navdesc">Tools and guidance for migrating</h6>
                    </li>
                      <li>
                        <a href="#" id="navdropdown1">Cloud roadmap
                     </a>
                        <h6 id="navdesc">     Upcoming feature releases   </h6>
                      </li>
                      <li>
                        <a href="#" id="navdropdown1">     Purchasing & licensing
                     </a>
                        <h6 id="navdesc">
                          FAQs about our policies   </h6>
                      </li>                  
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">SUPPORT SERVICES  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">      Enterprise services
                      </a>
                      <h6 id="navdesc">      Personal support for large teams
                      </h6>
                   
                    </li>                    
                    <li>
                      <a href="#" id="navdropdown1">Partner Support </a>
                      <h6 id="navdesc">     Trusted third-party consultants
                      </h6>
                     
                    

                     
                    </li>  
                    <li>
                      <a href="#" id="navdropdown1">     Atlassian Support </a>
                      <h6 id="navdesc">  A resource hub for teams and admins
                      </h6>
                    </li>                      
                                    </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">
                    LEARN & CONNECT</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">     About us
                         </a>
                      <h6 id="navdesc"> Our mission and history

                      </h6>
                    </li>     
                    <li>
                      <a href="#" id="navdropdown1">   Careers
                         </a>
                      <h6 id="navdesc"> Job openings, values, and more


                      </h6>
                    </li>   
                    <li>
                      <a href="#" id="navdropdown1">   Atlassian University

                         </a>
                      <h6 id="navdesc"> Training and certifications for all skill levels



                      </h6>
                    </li>  
                    <li>
                      <a href="#" id="navdropdown1">   Atlassian Community


                         </a>
                      <h6 id="navdesc">  A forum for connecting, sharing, and learning  




                      </h6>
                    </li>            
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div>   
              
          
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Marketplace  </h6>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" id="navdropdown1">              Apps that enhance Atlassian products
                      </a>
                    </li>
                    <li>
                      <a href="#" id="navdropdown1">  Developers
                      </a>
                      <h6 id="navdesc">    Docs and resources to build Atlassian apps  
                      </h6>
                    </li> 
                    <li>
                      <a href="#" id="navdropdown1">    Trust & security
                      </a>
                      <h6 id="navdesc"> Compliance, privacy, platform roadmap, and more
                      </h6>
                    </li>                   
                    <li>
                      <a href="#" id="navdropdown1">   Work Life blog
                      </a>
                      <h6 id="navdesc"> Stories on culture, tech, teams, and tips
                      </h6>
                    </li>       
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row --> 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"> <button class="btn btn-primary  " id="btnnav"  >
         Try now
      </button></li> &nbsp;&nbsp;
      <li class="nav-item"> <button class="btn btn-primary  " id="btnnow"  >
        Buy now
     </button></li> &nbsp;&nbsp;<i class="bi bi-search mt-2"></i>&nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" id="myaccount" href="#" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i>&nbsp;&nbsp; My account  </a>
            <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#"> Find my team </a></li>
            <li><a class="dropdown-item" href="#"> Login</a></li>
            </ul>
        </li>
      </ul>
    </div> <!-- navbar-collapse.// -->
    </div>
  </nav>
  <hr>
  
<!-- container start -->


<div class="container-fluid">
  <div class="row" style="background-color: #0058c6;height: 50rem;">
    <div class="row">
    <div class="col-4" fxShow fxHide.lt-sm >
          <img src="../../assets/img/Dektop_TL@2x.png" style="width: 35rem;height: 25rem;">
    </div>
    <div class="col-4" fxShow fxHide.gt-xs >
      <img src="../../assets/img/Mobile_T@2x.png" style="width: 24rem;height: 25rem;">
</div>
    <div class="col-4">
      
    </div>
    <div class="col-4">
      
    </div>
    </div>
    <div class="row" style="margin-top: -107px;">
      <img src="../../assets/img/Mobile_B-2x.png" style="height: 23rem;">
    </div>
    <div class="row" fxShow fxHide.lt-sm>
      <img src="../../assets/img/Torn Edge-Divider_Mobile-fff.svg" style="">
    </div>
  </div>

    <div class="row text-center" style="margin-top: 60px;" >
         <h2 class="">
             Atlassian solutions are designed for&nbsp;all&nbsp;types&nbsp;of&nbsp;work 
        </h2> 
    </div> 
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary mt-4 " id="btns"  >
          Work Management
      </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary mt-4 " id="btns"  >
          It Service Management 
      </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary mt-4 " id="btns"  >
          Agile and Devops 
      </button>
      </div>
    </div>
    <br><br><br>
    
    
    <div class="row mt-3">

        <div class="col-md-4 col-lg-4 col-xs-12  ">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 ">

                <h4 class="ms-4" id="workflow">Make work flow across teams while connecting back to company goals</h4>
            </div>
            <div class="col-1">
            </div>

            </div>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 ms-4">
                <a href="" style="text-decoration: none;" id="workdiff"> Work differently, together -></a>
                <br><br>
                </div>
            </div>
            <div class="row">

                <div class="col">
                 </div>
                <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;border-radius: 7px;">
                   <img src="../../assets/img/logos-confluence-icon-gradient-blue.svg" style="width: 55px">
                </div>
                <div class="col-6">
                    <br>
                    <h4 style="font-weight:800 ;"> Confluence </h4>
                    <p>Content collaboration</p>
                    
                </div>
                <div class="col">
                 </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                 </div>
                <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;">
                   <img src="../../assets/img/trello-icon-gradient-blue.svg"  style="width: 55px">
                </div>
                <div class="col-6">
                    <br>
                    <h4 style="font-weight:800 ;">  Trello  </h4>
                    <p>Visual project management </p>
                    
                </div>
                <div class="col">
                 </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                 </div>
                <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px;border-radius: 7px;">
                   <img src="../../assets/img/mark-gradient-blue-jira-work-management.svg"  style="width: 55px">
                </div>
                <div class="col-6">
                    <br>
                    <h4 style="font-weight:800 ;">  Jira Work Management  </h4>
                    <p>Business team collaboration </p>
                    
                </div>
                <div class="col">
                 </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                 </div>
                <div class="col pt-3 pb-3" style="background-color: #dfe1e5;padding-right: -2px;height: 82px; border-radius: 7px;">
                   <img src="../../assets/img/logos-atlas-icon-gradient-blue.svg"  style="width: 55px">
                </div>
                <div class="col-6">
                    <br>
                    <h4 style="font-weight:800 ;">  Atlas  </h4>
                    <p>Team work directory   </p>
                    
                </div>
                <div class="col">
                 </div>
            </div>

        </div>
        <div class="col-8 col-xs-12">
            <img src="../../assets/img/solutions_1_Con_Trello_JWM.svg" >
        </div>
    </div>
    <div class="row text-center">
        <h4>
            Join the 250,000+ companies that use our software to power team collaboration

        </h4>
    </div>   
    <div class="row"  id="logodiv">

        <div class="row">

        </div>
        <div class="row">


            <div class="col  col-xs-6 text-center mb-4">
                <img src="../../assets/img/kiva.svg" id="log1">
    
            </div>
            <div class="col  col-xs-6 text-center  mb-4">
                <img src="../../assets/img/twitter.svg" id="log2"  >
    
            </div>
            <div class="col col-xs-6 text-center  mb-4">
                <img src="../../assets/img/redfin.svg" id="log3">
    
            </div>
            <div class="col  col-xs-6 text-center  mb-4">
                <img src="../../assets/img/nasa.svg" id="log4">
    
            </div>
            <div class="col col-xs-6 text-center  mb-4">
                <img src="../../assets/img/audi.svg" id="log5">
    
            </div>
    
            <div class="col col-xs-6 text-center  mb-4">
                <img src="../../assets/img/castlight.svg" id="log6">
    
            </div>
        </div>
        <div class="row" style="height: 3rem;">

        </div>
    
    </div>

          <!-- desktop view start -->

    <div class="row mt-5 " fxShow fxHide.lt-sm>
      <div class="col-md-4 col-lg-4 col-xs-12  ps-5">
        <h6 style="font-weight:800;color:#2684ff;
        ">TEAM ESSENTIALS</h6><br>
        <h3 style="font-weight: 600;">Explore resources to unleash the potential of your team</h3>

      </div>
      <div class=" col-md-8 col-lg-8 col-xs-12 pe-5">
        <div class="card" data-aos="fade-up"  data-aos-delay="100" id="card1">
          <img class="card-img-top" src="../../assets/img/Community@2x.jpg" alt="Card image cap">
          <div class="card-body" style="background-color: #fffae5;">
            <h5 class="card-title text-center">Atlassian Community </h5>
            <p class="card-text text-center">Connect globally and meet locally to get more out of our products.</p>
            <a href="" style="text-decoration: none;">
              <h6  class="card-title text-center">Search the forum &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Join our community </h6>

            </a>

          </div>
        </div>
      </div>
      </div>
            <!-- desktop view end -->
      <!-- mobile view start -->


      <div class="row mt-5 " fxShow fxHide.gt-xs>
        <div class="col-md-4 col-lg-4 col-xs-12 ">
          <h6 style="font-weight:800;color:#2684ff;
          ">TEAM ESSENTIALS</h6><br>
          <h3 style="font-weight: 600;">Explore resources to unleash the potential of your team</h3>
  
        </div>
        <div class=" col-md-8 col-lg-8 col-xs-12 mt-5 ">
          <div class="card" data-aos="fade-up"  data-aos-delay="100" id="card1">
            <img class="card-img-top" src="../../assets/img/Community@2x.jpg" alt="Card image cap">
            <div class="card-body" style="background-color: #fffae5;">
              <h5 class="card-title text-center">Atlassian Community </h5>
              <p class="card-text text-center">Connect globally and meet locally to get more out of our products.</p>
              <a href="" style="text-decoration: none;">
                <h6  class="card-title text-center">Search the forum &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Join our community </h6>
  
              </a>
  
            </div>
          </div>
        </div>
        </div>

              <!-- mobile view end -->


      <!-- desktop view start -->

    <div class="row mt-5 " fxShow fxHide.lt-sm>
        <div class="col-md-4 ps-5 mb-4" >
            <div class="card" data-aos="fade-up"  data-aos-delay="100" id="card1">
                <img class="card-img-top" src="../../assets/img/Blog_360x265@2x.jpg" alt="Card image cap">
                <div class="card-body" style="background-color: #eae6ff;">
                  <h5 class="card-title text-center">Work Life</h5>
                  <p class="card-text text-center">Real-life advice, inspiration, and stories from the working world today.</p>
                  <h6  class="card-title text-center">Read our blog </h6>

                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" data-aos="fade-up"   data-aos-delay="550" id="card1">
                <img class="card-img-top" src="../../assets/img/Team Playbook_360x265@2x.png" style="height: 16rem;" alt="Card image cap">
                <div class="card-body" style="background-color: #e6fcff;">
                  <h5 class="card-title text-center">Atlassian Team Playbook </h5>
                  <p class="card-text text-center">Solve common team challenges with these group exercises.</p>
                  <h6  class="card-title text-center">Check team health </h6>

                </div>
              </div>        </div>

        <div class="col-md-4 pe-5 xs-pe-0 mb-4">
            <div class="card"data-aos="fade-up"  data-aos-delay="950" id="card1">
                <img class="card-img-top" src="../../assets/img/Agile Coach_360x265@2x.png" alt="Card image cap">
                <div class="card-body" style="background-color: #deebff;">
                  <h5 class="card-title text-center">The Agile Coach </h5>
                  
                  <p class="card-text text-center">Atlassian's no-nonsense guide to agile development.</p>
                  <h6  class="card-title text-center">Visit our resources   </h6>

                </div>
              </div>
        </div>


    </div>

          <!-- desktop view end -->

                    <!-- mobile view start -->


    <div class="row mt-5 " fxShow fxHide.gt-xs>
      <div class="col-md-4  mb-4" >
          <div class="card"  id="card1">
              <img class="card-img-top" src="../../assets/img/Blog_360x265@2x.jpg" alt="Card image cap">
              <div class="card-body" style="background-color: #eae6ff;">
                <h5 class="card-title text-center">Work Life</h5>
                <p class="card-text text-center">Real-life advice, inspiration, and stories from the working world today.</p>
                <h6  class="card-title text-center">Read our blog </h6>

              </div>
            </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card"  id="card1">
              <img class="card-img-top" src="../../assets/img/Team Playbook_360x265@2x.png" style="height: 16rem;" alt="Card image cap">
              <div class="card-body" style="background-color: #e6fcff;">
                <h5 class="card-title text-center">Atlassian Team Playbook </h5>
                <p class="card-text text-center">Solve common team challenges with these group exercises.</p>
                <h6  class="card-title text-center">Check team health </h6>

              </div>
            </div>        </div>

      <div class="col-md-4 mb-4">
          <div class="card" id="card1">
              <img class="card-img-top" src="../../assets/img/Agile Coach_360x265@2x.png" alt="Card image cap">
              <div class="card-body" style="background-color: #deebff;">
                <h5 class="card-title text-center">The Agile Coach </h5>
                
                <p class="card-text text-center">Atlassian's no-nonsense guide to agile development.</p>
                <h6  class="card-title text-center">Visit our resources   </h6>

              </div>
            </div>
      </div>


  </div>

  <!-- desktop view start -->
    <div class="row  mt-5 " fxShow fxHide.lt-sm>
        <div class="col-md-4 col-lg-4 col-xs-12   mb-3">
            <br><br>
            <h6 class="ms-5" style="font-weight:800;color:#2684ff;
            ">EVENTS</h6>
            <br><br>
            <h3 class="ms-5" style="line-height:1.5;">
                Hear from today’s <br> fearless builders and <br> innovators
            </h3><br><br>
            <a href="" class="ms-5">Learn more</a>

        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 mb-3 " data-aos="fade-up"   data-aos-delay="800">
               <img src="../../assets/img/Team23_Event2x.png" style="width: 100%;">
        </div>

        <div class="col-md-4 col-lg-4 col-xs-12   mb-3" data-aos="fade-up"   data-aos-delay="1550">
            <img src="../../assets/img/ITSM High Velocity 23.png" style="width: 100%;">

        </div>


    </div>

      <!-- desktop view end -->

      <!-- mobile view start -->

    <div class="row  mt-5 " fxShow fxHide.gt-xs>
      <div class="col-md-4 col-lg-4 col-xs-12   mb-3">
          <br><br>
          <h6  style="font-weight:800;color:#2684ff;
          ">EVENTS</h6>
          <br><br>
          <h3 style="line-height:1.5;">
              Hear from today’s <br> fearless builders and <br> innovators
          </h3><br><br>
          <a href="" >Learn more</a>

      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb-3 " >
             <img src="../../assets/img/Team23_Event2x.png" style="width: 100%;">
      </div>

      <div class="col-md-4 col-lg-4 col-xs-12   mb-3" >
          <img src="../../assets/img/ITSM High Velocity 23.png" style="width: 100%;">

      </div>


  </div>

        <!-- mobile view end -->

    <div class="row" style="margin-top: 3rem;" >
    </div>
    <div class="row text-center justify-content-center" style="margin-bottom: -158px;" >
        <h5 id="careershead" class="color-head text-b200">CAREERS</h5>
        <br><br>
        <h3 class="font-weight-bold" id="careermoto">We can’t do it alone</h3>
        <br><br>
        <h6 id="careerpara" class="text-oversized text-center">We have an ambitious road ahead, and we’re looking for people to join <br>our global team to help shape the future of Atlassian.</h6>
        <button class="btn btn-primary mt-4 " id="btnb"  >
            Join the team 
        </button>
    </div>
    <div class="row">
        <div class=" col-md-6 col-lg-6 col-xs-6  ">
           <img src="../../assets/img/CareersLeft_540x450.svg" style="width: 23rem">
        </div>
        <div class=" col-md-6 col-lg-6 col-xs-6   " fxShow fxHide.lt-sm>
            <img src="../../assets/img/CareersRight_540x450.svg"  style="width: 23rem;margin-left: 282px;">

        </div>
    </div>
    
  
</div>



<!-- container end -->
<!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color: #f4f5f7"
>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
    <a id="footerlogo">
        <img id="footerimg" src="../../assets/img/logos-atlassian-logo-gradient-horizontal-neutral.svg">

    </a>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div  class="col col-md-3 col-lg-2 col-xs-6 s0 between">
  <h6 class="text-uppercase mb-4 font-weight-bold" id="navhead">Products</h6>
  <p>
    <a id="nava">Jira Software</a>
  </p>
  <p>
    <a  id="nava">Jira Service Management </a>
  </p>
  <p>
    <a  id="nava">Jira Align</a>
  </p>
  <p>
    <a  id="nava">Jira Product Discovery</a>
  </p>
  <p>
    <a  id="nava">Confluence </a>
  </p>
  <p>
    <a  id="nava">Trello </a>
  </p>
  <p>
    <a  id="nava">BitBucket </a>
  </p>
  <br>
  <p>
    <a  id="navb">View all products </a>
  </p>
  
</div>
<!-- Grid column -->



<!-- Grid column -->
<div  class="col col-md-3 col-lg-2 col-xs-6 s0 between">
    <h6 class="text-uppercase mb-4 font-weight-bold" id="navhead">RESOURCES</h6>
    <p>
      <a id="nava"> Technical Support</a>
    </p>
    <p>
      <a  id="nava">Purchasing & licensing  </a>
    </p>
    <p>
      <a  id="nava">Atlassian Community </a>
    </p>
    <p>
      <a  id="nava">Knowledge base   </a>
    </p>
    <p>
      <a  id="nava">Marketplace </a>
    </p>
    <p>
      <a  id="nava">My Account </a>
    </p>
    <br>
    <p>
      <a  id="navb">Create support ticket   </a>
    </p>
    
  </div>
  <!-- Grid column -->

  

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold" id="navhead">EXPAND & LEARN</h6>
    <p>
      <a id="nava"> Partners</a>
    </p>
    <p>
      <a  id="nava">Training & Certification   </a>
    </p>
    <p>
      <a  id="nava">Documentation  </a>
    </p>
    <p>
      <a  id="nava">Developer Resources    </a>
    </p>
    <p>
      <a  id="nava">Enterprise services </a>
    </p>
    
    <p>
      <a  id="navb">View all resources </a>
    </p>
    
  </div>
  <!-- Grid column --> 
  
  
  

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold" id="navhead"> ABOUT ATLASSIAN</h6>
    <p>
      <a id="nava"> Company</a>
    </p>
    <p>
      <a  id="nava">Career   </a>
    </p>
    <p>
      <a  id="nava">Events  </a>
    </p>
    <p>
      <a  id="nava">Atlassian Foundation     </a>
    </p>
    <p>
      <a  id="nava">Investor Relations  </a>
    </p>
    <p>
        <a  id="nava">Trust & Security   </a>
      </p>
    
    <br>
    <p>
      <a  id="navb">Contact us   </a>
    </p>
    
  </div>
  <!-- Grid column --> 

</div>
</section>
<!-- Section: Links -->

<hr class="my-3">

<!-- Section: Copyright -->
<section class="p-3 pt-0">
<div class="row ">
<!-- Grid column -->
<div class="col-md-7 col-lg-8 text-center text-md-start">
  <!-- Copyright -->
    <a  id="copyright"
       >Privacy Policy </a
      >
      &nbsp;&nbsp;
      <a  id="copyright"
       > Terms </a
      >
      &nbsp;&nbsp;
      <a  id="copyright"
       > Impressum </a
      >
      &nbsp;&nbsp;

    <a  id="copyright"
       >Copyright © 2023 Atlassian</a
      >
  <!-- Copyright -->
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-4 ml-lg-0 text-center text-md-end">
  <!-- Facebook -->
  <a
     class="btn btn-outline-light btn-floating m-1"
     class="text-white"
     role="button"
     >
     <i class="bi bi-facebook" id="footericon"></i>
    </a> &nbsp;&nbsp;

  <!-- Twitter -->
  <a
     class="btn btn-outline-light btn-floating m-1"
     class="text-white"
     role="button"
     >
     <i class="bi bi-twitter" id="footericontwitter"></i></a>&nbsp;&nbsp;

  <!-- Google -->
  <a
     class="btn btn-outline-light btn-floating m-1"
     class="text-white"
     role="button"
     ><i class="bi bi-linkedin" id="footericonlinkedin"></i></a>&nbsp;&nbsp;

  <!-- Instagram -->
  <a
     class="btn btn-outline-light btn-floating m-1"
     class="text-white"
     role="button">
     <i class="bi bi-youtube" id="footericonyou"></i>
    </a>
</div>
<!-- Grid column -->
</div>
</section>
<!-- Section: Copyright -->
</div>
<!-- Grid container -->
</footer>
